@model UPBEats.Models.Producto

@{
    ViewData["Title"] = "Registro de producto";
}

<header class="masthead-secundary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 row justify-content-center">
                <div class="brand_logo_container">
                    <img src="~/images/logo-upb.svg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="col-lg-10 row justify-content-center bg-white rounded">
                <div class="col-md-10">
                    <hr class="divider my-3" />
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Descripcion" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Descripcion" class="form-control" />
                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Precio" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Precio" class="form-control" />
                                    <span asp-validation-for="Precio" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Foto" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="FileFoto" class="form-control" type="file" accept=".jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="visibility: hidden">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="UsuarioId" class="control-label" id="UsuarioId"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId" id="cmbUsuarioId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <br />
                                    <input type="submit" value="Registrar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}

