@{
    ViewData["Title"] = "About";
}

<section class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">@ViewData["Title"]</h2>
                <hr class="divider light my-4" />
                <h3 class="text-white mt-0">@ViewData["Message"]</h3>
                <p class="text-white-50 mb-4">Plataforma para los estudiantes de la Universidad Pontificia Bolivariana.</p>
            </div>
        </div>
    </div>
</section>
