@model UPBEats.Models.Usuario

@{
    ViewData["Title"] = "Resgistro";
}

<header class="masthead-secundary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 row justify-content-center">
                <div class="brand_logo_container">
                    <img src="~/images/logo-upb.svg" class="brand_logo" alt="Logo">
                </div>
            </div>
            <div class="col-lg-10 row justify-content-center bg-white rounded">
                <div class="col-md-10">
                    <hr class="divider my-3" />
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Nombre" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Nombre" class="form-control" />
                                    <span asp-validation-for="Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Apellido" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Apellido" class="form-control" />
                                    <span asp-validation-for="Apellido" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Foto" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="FileFoto" class="form-control" type="file" accept=".jpg"/>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 text-center"> <img id="imgPrevia" src="~/images/user.png" width="150" alt="Vista previa" /><br />  </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Correo" class="control-label"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Correo" class="form-control" readonly value="@User.Identity.Name" />
                                    <span asp-validation-for="Correo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="TipoRolId" class="control-label" id="TipoRolId"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <select asp-for="TipoRolId" class="form-control" asp-items="ViewBag.TipoRolId" id="cmbTipoRolId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="Emprendimiento" class="control-label" id="lbEmprendimiento" style="display:none"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <input asp-for="Emprendimiento" class="form-control" id="txtEmprendimiento" style="display:none"/>
                                    <span asp-validation-for="Emprendimiento" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="form-group">
                                    <label asp-for="DescEmprendimiento" class="control-label" id="lbDescEmprendimiento" style="display:none"></label>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group">
                                    <textarea asp-for="DescEmprendimiento" class="form-control" rows="2" cols="20" id="txtDescEmprendimiento" style="display:none"></textarea>
                                    <span asp-validation-for="DescEmprendimiento" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <br />
                                    <input type="submit" value="Terminar" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} 
    <script>
        $(document).ready(function () {
            $('#cmbTipoRolId').on('change', function () {
                var select = $(this).val();
                if (select == '2') {
                    $('#lbEmprendimiento').css('display', 'block');
                    $('#txtEmprendimiento').css('display', 'block');
                    $('#lbDescEmprendimiento').css('display', 'block');
                    $('#txtDescEmprendimiento').css('display', 'block');
                }
                else {
                    $('#lbEmprendimiento').css('display', 'none');
                    $('#txtEmprendimiento').css('display', 'none');
                    $('#lbDescEmprendimiento').css('display', 'none');
                    $('#txtDescEmprendimiento').css('display', 'none');
                }
            });
        })
    </script>
}