@model UPBEats.Models.Usuario

@{
    Layout = "_Layout";
}

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" readonly value="@User.Identity.Name" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="FileFoto" class="form-control" type="file" accept=".jpg" />
                <!--<img id="imgPrevia" src="~/images/user.png" width="150" alt="Vista previa" /><br />-->
            </div>
            <div class="form-group">
                <label asp-for="TipoRolId" class="control-label"></label>
                <select asp-for="TipoRolId" class="form-control" asp-items="ViewBag.TipoRolId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Emprendimiento" class="control-label"></label>
                <input asp-for="Emprendimiento" class="form-control" />
                <span asp-validation-for="Emprendimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescEmprendimiento" class="control-label"></label>
                <input asp-for="DescEmprendimiento" class="form-control" />
                <span asp-validation-for="DescEmprendimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}