@model UPBEats.Models.Usuario

@{
    ViewData["Title"] = "Resgistro";
}

<header class="masthead-secundary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <!-- Basic Card Example -->
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Registro de usuario</h6>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 text-center">
                                <img class="rounded-circle" id="imgFoto" src="~/images/logo-upb.svg" width="100" height="100">
                                <hr class="divider my-4" />
                            </div>
                            <div class="col-lg-8 text-center">
                                <form asp-action="Create" enctype="multipart/form-data">
                                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                    <div class="row">
                                        <div class="col-md-4 text-center ">
                                            <label class="control-label" asp-for="Nombre"></label>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="Nombre" />
                                                <span class="text-danger" asp-validation-for="Nombre"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="form-group">
                                                <label class="control-label" asp-for="Apellido"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="Apellido" />
                                                <span class="text-danger" asp-validation-for="Apellido"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="form-group">
                                                <label class="control-label" asp-for="Foto"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="FileFoto" type="file" accept=".jpg" />
                                                <input class="form-control" asp-for="Foto" readonly hidden />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="form-group">
                                                <label class="control-label" asp-for="Correo"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="Correo" value="@User.Identity.Name" readonly />
                                                <span class="text-danger" asp-validation-for="Correo"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 text-center">
                                            <div class="form-group">
                                                <label class="control-label" id="TipoRolId" asp-for="TipoRolId"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <select class="form-control" id="cmbTipoRolId" asp-for="TipoRolId" asp-items="ViewBag.TipoRolId"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Emprendimiento" style="display: none;">
                                        <div class="col-md-4 text-center">
                                            <div class="form-group">
                                                <label class="control-label" asp-for="Emprendimiento"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <input class="form-control" asp-for="Emprendimiento" />
                                                <span class="text-danger" asp-validation-for="Emprendimiento"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row Emprendimiento" style="display: none;">
                                        <div class="col-md-4 text-center">
                                            <div class="form-group">
                                                <label class="control-label" asp-for="DescEmprendimiento"></label>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group">
                                                <textarea class="form-control" asp-for="DescEmprendimiento" rows="2" cols="20"></textarea>
                                                <span class="text-danger" asp-validation-for="DescEmprendimiento"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="form-group">
                                                <br />
                                                <button class="btn btn-primary btn-icon-split" type="submit">
                                                    <span class="icon text-white-50">
                                                        <i class="fas fa-check"></i>
                                                    </span>
                                                    <span class="text">Terminar</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function VistaPrevia(foto) {
            if (foto.files && foto.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgFoto').attr('src', e.target.result);
                    var data = e.target.result.split('base64,')[1];
                    $('#Foto').attr('value', data);
                }
                reader.readAsDataURL(foto.files[0]);
            }
        }

        $(document).ready(function () {
            $('#cmbTipoRolId').on('change', function () {
                var select = $(this).val();
                if (select == '2') {
                    $('.Emprendimiento').css('display', '');
                }
                else {
                    $('.Emprendimiento').css('display', 'none');
                }
            });

            //Llamar a la funcion cuando se selecciona una foto
            $('#FileFoto').change(function () {
                VistaPrevia(this);
            });
        })
    </script>
}